@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html{
  scroll-behavior: smooth;
}

body{
  /* background: linear-gradient(to right, #7c2ae8, #3f0a74); */
}

.fundo {
  width: 100%;
  position: absolute;
  margin-top: -50px;
  left: 0;
  object-fit: cover; 
  z-index: 0;
}


.container .header{
  position: absolute;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; 
  right: 0;
  left: 0;
  z-index: 1;
}

.content{
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap-reverse;
  padding: 100px;
  border: none;
  
}


.content .Divform img{
  width: 100%;
  margin-top: -50px;
}


